# Airbnb Listings Analysis using SQL

- ğŸ† 80 points available
- ğŸ¤  Author: Park (ypark32@illinois.edu)
- âœï¸ Last updated on 09/21/2022

---

â–¶ï¸ First, run the code cell below to import `unittest`, a module used for **ğŸ§­ Check Your Work** sections and the autograder.

In [63]:
# DO NOT MODIFY THE CODE IN THIS CELL
import base64
import unittest
tc = unittest.TestCase()

---

## ğŸ’ Case overview

![Airbnb logo](https://github.com/bdi475/images/blob/main/case-studies/airbnb-sql/airbnb-logo-black-background.png?raw=true)

[Airbnb](https://airbnb.com/) is a popular platform for hosts to accommodate guests with short-term stays and leisure activities. It was born in 2008 when the two founders welcomed three guests to their San Francisco home. Airbnb has grown to serve 4 million hosts in about 100,000 cities. That makes Airbnb's valuation worth more than top three hotel chains combined as of December 2020 ([source](https://www.businessinsider.com/airbnb-ipo-valuation-tops-three-hotel-chains-combined-opening-day-2020-12)).

### âš”ï¸ Your goal

You have recently joined a property management firm as a business development manager. Your role is to establish and deepen relationships with the property owners. Your success on building relationships largely depends on the firm's ability to offer value-adding services to the property owners.

A common concern that most property owners face is dealing with vacant properties. The traditional approach to to fill up vacant properties is to run paid advertisements or to provide sign-up incentives (e.g., free rent for a month if leased for 13+ months, gift cards, referral bonus, free parking). You have a better idea - why not convert some of the vacant properties into vacation rentals?

In this case study, you'll use SQL analyze all Airbnb listings in the city your firm is operating in. Below are some of the questions you'll be answering.

- ğŸ‘‰ Are there properties that can accommodate more than 8 guests?
- ğŸ‘‰ Are there properties that target guests staying over a month?
- ğŸ‘‰ Are there properties that have more than 5 bedrooms and 3 bathrooms?
- ğŸ‘‰ What are the average price, occupancy (availability), and review score by room type?
- ğŸ‘‰ Can you calculate the metrics of interest (number of listings, average price, average occupancy, average review score) by the number of bedrooms?
- ğŸ‘‰ How about by neighbourhoods? Can you also find the average property dimensions (number of bedrooms & bathrooms)?
- ğŸ‘‰ How do the metrics and dimensions differ between superhost and non-superhost listings?
- ğŸ‘‰ Can you find all listings that were never booked?
- ğŸ‘‰ Can you find the top 15 highest-rated listings?
- ğŸ‘‰ Can you find listings with the keyword "bright"?

Note that looking at *just* the listings data is not sufficient to determine whether converting a vacant property to an Airbnb listing is a good idea. The analysis you perform here is preliminary. If you'd like, you can download additional booking data at [http://insideairbnb.com/get-the-data.html](http://insideairbnb.com/get-the-data.html) to explore further on your own.

---

### ğŸ¯ Part 1: Choose a city ğŸŒ„

Guess what - you get to pick your own city! ğŸ˜º 

Go to [this Google spreadsheet](https://docs.google.com/spreadsheets/d/1Yv3acCW6NYgcwVVo55TcgQ-aXcAsSmoVo_Su79xm9Js/edit?usp=sharing) and mark your NetID in any row where the city has not been taken yet (the selection is based on a first-come, first-served basis). Store the copied URL to a new variable named `file_url`.

#### ğŸ”‘ Sample Code
```python
file_url = 'https://github.com/bdi475/datasets/raw/main/case-studies/airbnb-sql/Chicago.csv'
```

In [64]:
# YOUR CODE BEGINS
file_url = 'https://github.com/bdi475/datasets/raw/main/case-studies/airbnb-sql/Shanghai.csv'
# YOUR CODE ENDS
print(f'CSV File URL: {file_url}')

CSV File URL: https://github.com/bdi475/datasets/raw/main/case-studies/airbnb-sql/Shanghai.csv

#### ğŸ§­ Check your work

In [65]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-01'
_points = 2

import pandas as pd
df_check = pd.read_csv(file_url)

tc.assertEqual(set(df_check.columns), set(['name', 'neighbourhood', 'room_type', 'bedrooms', 'bathrooms', 
                                           'accommodates', 'minimum_nights', 'price', 'availability_365', 
                                           'number_of_reviews', 'review_score', 'latitude', 'longitude', 'is_superhost']))

tc.assertGreater(df_check.shape[0], 100, 'The city should have at least 100 listings')

---

### ğŸ¯ Part 2: Import packages

#### ğŸ‘‡ Tasks

- âœ”ï¸ Import the following Python packages.
    1. `pandas`: Use alias `pd`.
    2. `numpy`: Use alias `np`.
    3. `sqlite3`: No alias

In [66]:
# YOUR CODE BEGINS
import pandas as pd
import numpy as np
import sqlite3
# YOUR CODE ENDS

#### ğŸ§­ Check your work

In [67]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-02'
_points = 2

import sys

tc.assertIsNotNone(pd.__version__, 'Check whether you have correctly imported Pandas with an alias.')
tc.assertIsNotNone(np.__version__, 'Check whether you have correctly imported NumPy with an alias.')
tc.assertTrue('sqlite3' in globals(), 'Check whether you have correctly imported the sqlite3 package.')

---

### ğŸ”¨ Create and populate the `listings` table

â–¶ï¸ Run the code below to create a new SQLite database. The code will also create and populate the `listings` table.

In [68]:
# DO NOT CHANGE THE CODE BELOW
# Connect to airbnb.db database file
# If the file does not exist, create a new file
conn = sqlite3.connect('airbnb.db')

# Create a cursor
# A cursor enables users of a DBMS to traverse through the result set
# without having to retrieve all results at once
c = conn.cursor()

# Drop (delete) listings table if it already exists
c.execute('DROP TABLE IF EXISTS listings')
conn.commit()

# Create table
# Triple quotes (''') denote multiline strings
create_table_query = '''
CREATE TABLE IF NOT EXISTS listings (
    name TEXT,
    neighbourhood TEXT,
    room_type TEXT,
    bedrooms REAL,
    bathrooms REAL,
    price REAL,
    accommodates INT,
    minimum_nights INT,
    availability_365 INT,
    number_of_reviews INTEGER,
    review_score REAL,
    is_superhost INT,
    latitude REAL,
    longitude REAL
)
'''
c.execute(create_table_query)
conn.commit()

# Populate the listings table
df_listings = pd.read_csv(file_url)
df_listings.to_sql(name='listings', index=False, con=conn, if_exists='append')

conn.close()

#### ğŸ”¬ `listings` table column descriptions

| Column Name         | Description                                                              |
|---------------------|--------------------------------------------------------------------------|
| `name`              | Listing title                                                            |
| `neighbourhood`     | Neighbourhood                                                            |
| `room_type`         | Room type (e.g., Shared room, Private room, Entire home/apt, Hotel room) |
| `bedrooms`          | Number of bedrooms                                                       |
| `bathrooms`         | Number of bathrooms                                                      |
| `accommodates`      | Number of maximum guests                                                 |
| `minimum_nights`    | Number of minimum nights required to book                                |
| `price`             | Base nightly price - the actual price will vary by specific dates        |
| `availability_365`  | Number of available days during the past 365 days                        |
| `number_of_reviews` | Total number of reviews                                                  |
| `review_score`      | Guest feedback rating                                                    |
| `latitude`          | Latitude                                                                 |
| `longitude`         | Longitude                                                                |
| `is_superhost`      | Whether the host is a superhost (0 == not a superhost, 1 == superhost)   |

---

### ğŸ¯ Part 3: Select all columns and rows from the `listings` table

#### ğŸ‘‡ Tasks

- âœ”ï¸ Write a query that selects all columns and rows from the `listings` table.
- âœ”ï¸ Store your query to a new variable named `query_select_all`.

#### ğŸ”¥ Need help?

Refer to the ğŸš€ **Hint** section below the ğŸ§­ **Check your work** code cell.

In [69]:
# YOUR CODE BEGINS
query_select_all = '''
SELECT * FROM listings
'''


# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_select_all, con=conn)
display(df_result)
conn.close()

,name,neighbourhood,room_type,bedrooms,bathrooms,price,accommodates,minimum_nights,availability_365,number_of_reviews,review_score,is_superhost,latitude,longitude
0,Heart of French Concession / Home,å¾æ±‡åŒº / Xuhui District,Entire home/apt,1.0,1.0,452.0,3,3,297,85,95.0,1,31.20918,121.45150
1,ã€sidihomeã€‘The minimalist business apt In jingâ€™an,æ™®é™€åŒº / Putuo District,Entire home/apt,1.0,1.0,355.0,2,3,331,26,98.0,1,31.24399,121.44296
2,'Laojia' in the Heart of Shanghai,é•¿å®åŒº / Changning District,Private room,1.0,1.0,160.0,1,2,89,85,95.0,0,31.22067,121.43159
3,æœ‰ç®€çº¦ ç»¿è‰²ç³» åŠŸèƒ½é½å…¨ é«˜æ¥¼å±‚çš„ç»¿è‰²èˆ’é€‚7/13åŒè½¨äº¤é˜³å…‰æš–çªå…¬å¯“,é™å®‰åŒº / Jing'an District,Entire home/apt,1.0,1.0,435.0,2,1,350,69,98.0,1,31.24299,121.44358
4,ã€sidihomeã€‘ROSE the big space apt in downtown,é™å®‰åŒº / Jing'an District,Entire home/apt,1.0,1.0,407.0,3,1,330,33,98.0,1,31.24374,121.44247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7419,"ã€å¤–æ»©äººæ°‘å¹¿åœºé«˜å±‚æç®€ä¸€å±…ã€‘è¶…æ¸…æŠ•å½±, å…¨é€æ˜è®¾è®¡, æ—¥å¼åŒ—æ¬§æ··æ­, å…¨èº«é•œ",é»„æµ¦åŒº / Huangpu District,Entire home/apt,1.0,1.0,447.0,2,1,175,13,100.0,0,31.23157,121.48394
7420,Mï½œæŠ•å½±å…¬å¯“ï½œæ¥¼ä¸‹åœ°é“ç«™ï½œç«è½¦ç«™ï½œè™¹è¶³ï½œäººå¹¿ï½œå—äº¬è·¯ï½œå¤–æ»©,è™¹å£åŒº / Hongkou District,Private room,1.0,1.0,260.0,2,1,87,10,100.0,1,31.26175,121.47771
7421,èŠ±ç­‘æ°‘å®¿ä¸Šæµ·æ——èˆ°åº—/ç‹¬æ ‹ç§å®¶åˆ«å¢…/KTV/é…’å§/å’–å•¡å§/ç¯ç«/çƒ¤å…¨ç¾Š/ç§æˆ¿èœ/çƒ§çƒ¤/ç«é”…/å¸¦å¨æˆ¿,æµ¦ä¸œæ–°åŒº / Pudong,Entire home/apt,9.0,9.0,2975.0,16,1,364,10,100.0,1,31.14009,121.72208
7422,å—äº¬è·¯ä¸¨å¤–æ»©5åˆ†é’Ÿä¸¨è±«å›­ä¸¨ä¸œæ–¹æ˜ç ä¸¨äººæ°‘å¹¿åœºåœ°é“1åˆ†é’Ÿä¸¨æŠ•å½±ä¸¨24Hå¯å…¥ä½ä¸¨åŒäººå¤§åºŠæˆ¿,é»„æµ¦åŒº / Huangpu District,Entire home/apt,1.0,1.0,170.0,2,1,365,10,92.0,0,31.23415,121.47860
7423,ã€é¦¨ç¾ä¹‹å®¶ã€‘ã€å°è±¡å½±é™¢ã€‘å®½æ•å¤§ä¸‰æˆ¿/ä¸´æ¸¯æ ¸å¿ƒåŒºè¿‘åœ°é“ç«™/è¿‘æµ·æ˜Œæµ·æ´‹å…¬å›­/è¿‘å¤©æ–‡é¦†/è§‚æµ·çœ‹æ—¥å‡º...,æµ¦ä¸œæ–°åŒº / Pudong,Entire home/apt,3.0,2.0,359.0,5,1,88,10,100.0,0,30.92101,121.92068

#### ğŸ§­ Check your work

In [70]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-03'
_points = 3

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(b'ClNFTEVDVCAqCkZST00gbGlzdGluZ3MK').decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
conn.close()

#### ğŸš€ Hint

The query below selects all rows and columns from a database table named `my_table`.

```sql
SELECT *
FROM my_table;
```

---

### ğŸ¯ Part 4: Listings that can accommodate 8 or more people

#### ğŸ‘‡ Tasks

- âœ”ï¸ Using the `listings` table, find all listings that can accommodate 8 or more people (`accommodates >= 8`).
- âœ”ï¸ Select only the following 5 columns (in the same order):
    - `name`, `room_type`, `bedrooms`, `bathrooms`, `accommodates`
- âœ”ï¸ Store your query to a new variable named `query_eight_or_more`.
- âœ”ï¸ Sort the result by `accommodates` in descending order.

#### ğŸ”‘ Output Format

Your query result will likely have different number of rows and cell values.

|   |                                       name |       room_type | bedrooms | bathrooms | accommodates |
|--:|-------------------------------------------:|----------------:|---------:|----------:|-------------:|
| 0 |   Elegant Rantoul Oasis: 20 mins to campus | Entire home/apt |      5.0 |       4.0 |           14 |
| 1 |         Exquisite 1980's Historic Building | Entire home/apt |      2.0 |       2.0 |           10 |
| 2 | Quiet Area in Urbana - Perfect for Groups! | Entire home/apt |      3.0 |       2.0 |            8 |
| 3 |     Spacious Champaign Apt w/Pool Gym Wifi | Entire home/apt |      1.0 |       1.0 |            7 |

#### ğŸ”¥ Need help?

Refer to the ğŸš€ **Hint** section below the ğŸ§­ **Check your work** code cell.

In [71]:
# YOUR CODE BEGINS
query_eight_or_more = '''
SELECT name, room_type, bedrooms, bathrooms, accommodates
FROM listings
WHERE accommodates >= 8
ORDER BY accommodates DESC


'''
# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_eight_or_more, con=conn)
display(df_result)
conn.close()

,name,room_type,bedrooms,bathrooms,accommodates
0,å…«å®¤ä¸‰å…è½°è¶´èšä¼š Kæ­Œ.X-boxä½“æ„Ÿæ¸¸æˆéº»å°†.ç”µå½±.æ¡Œæ¸¸.ä¹’ä¹“.æ¡Œçƒ.ç«é”….çƒ§çƒ¤.é’¢ç´å…¨é½,Entire home/apt,8.0,5.0,16
1,ç‰¹æƒ â™¥å¥½å¤„Â·åˆ«å¤„ | ä¼šè®®èšä¼š/8å°æ—¶æ´»åŠ¨ä»·æ ¼/é™å®‰å¯º/é¡¶æ¥¼è¶…å¤§éœ²å°/è€ä¸Šæµ·é‡Œå¼„/é…å¤‡é½å…¨,Entire home/apt,1.0,2.0,16
2,Central Party Spaceå¸‚ä¸­å¿ƒè¶…å¤§èšä¼šå›¢å»ºç”Ÿæ—¥ä¼šè®®æ¼”ç¤ºå•†ä¸šæ‹æ‘„ç©ºé—´å…è´¹å°é£Ÿé…’æ°´...,Shared room,1.0,1.5,16
3,ç¢§æµ·é‡‘æ²™å¥‰è´¤æµ·æ¹¾å¤§å­¦åŒºäº”å®¤äº”å…ä¸‰å«æŸ’åºŠç»¿åœ°é¦™é¢‚åˆ«å¢…è½°è¶´-æµ·è¯­å°å¢…å£¹å·,Entire home/apt,5.0,3.0,16
4,ä¸Šæµ·è™¹æ¡¥ç²¾å“åˆ«å¢…,Entire home/apt,9.0,9.0,16
...,...,...,...,...,...
472,ä¹æ„|ä¸‹åˆä¸¤ç‚¹åå¯æ¥æœº|æ¸©æŸ”æ˜¯å®è—ï¼Œä½ ä¹Ÿæ˜¯|ä¸‰æˆ¿ä¸€å…|è™¹æ¡¥æœºåœº|è™¹æ¡¥ç«è½¦ç«™|å›½å®¶ä¼šå±•ä¸­å¿ƒ|,Entire home/apt,3.0,1.0,8
473,å¼„å ‚é‡Œæ„Ÿå—è€ä¸Šæµ·é£æƒ…|å¤ªå¤é‡Œ|å—äº¬è¥¿è·¯åœ°é“300ç±³|loftä¸‰åºŠå¯ä½å…­äºº,Entire home/apt,1.0,2.0,8
474,è¶…å¤§ç©ºé—´200å¹³4å±…3å«å˜‰å–„è·¯åœ°é“ç«™3åˆ†é’Ÿè·ç¦»ã€‚è¿‘ç”°å­åŠã€æ—¥æœˆå…‰ã€å¤–æ»©ã€é™å®‰å¯º,Entire home/apt,4.0,3.0,8
475,ã€Œç’€ç’¨å¤–æ»©Â·PLUSã€è¶…å¤§è½åœ°çª—270åº¦ä¿¯ç°ç™¾å¹´å¤–æ»©å…¨æ™¯ã€å¬å¤–æ»©é’Ÿå£°ã€èµé­”éƒ½ç¾æ™¯ã€ã€Œä¸æ¥åµé—¹...,Entire home/apt,3.0,2.5,8
476,ã€çº¸é†‰é‡‘è¿·ã€‘å·²æ¶ˆæ¯’å¯æœˆç§Ÿ@ä¿¯ç°ç™¾å¹´å¤–æ»©å…¨æ™¯å®æ ¼ä¸½åŒæ¬¾è¿‘åœ°é“åœè½¦åšé¥­é»„æµ¦æ±Ÿè‹å·æ²³ä¸œæ–¹æ˜ç é™†å®¶å˜´...,Entire home/apt,3.0,2.0,8

#### ğŸ§­ Check your work

In [72]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-04'
_points = 3

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCBuYW1lLCByb29tX3R5cGUsIGJlZHJvb21zLCBiYXRocm9vbXMsIGFjY29tbW9kYXRlcwp\
GUk9NIGxpc3RpbmdzCldIRVJFIGFjY29tbW9kYXRlcyA+PSA4Ck9SREVSIEJZIGFjY29tbW9kYXRlcyBERVNDCg=='
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['accommodates'].reset_index(drop=True),
                               df_check['accommodates'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))

conn.close()

#### ğŸš€ Hint

The query below selects 5 columns from `my_table` where `column5` is greater than or equal to 8. The result will be sorted by `column5` in descending order.

```sql
SELECT column1, column2, column3, column4, column5
FROM my_table
WHERE column5 >= 8
ORDER BY column5 DESC;
```

---

### ğŸ¯ Part 5: Average price of all listings

#### ğŸ‘‡ Tasks

- âœ”ï¸ Using the `listings` table, find the average price of all listings:
- âœ”ï¸ Store your query to a new variable named `query_avg_price`.
- âœ”ï¸ Result of your query should have only one column and one row.
    - The name of the column does not matter.
    
#### ğŸ”‘ Output Format

You are free to rename your `AVG(price)` column.

|   |      AVG(price) |
|--:|----------------:|
| 0 |      145.666667 |

#### ğŸ”¥ Need help?

Refer to the ğŸš€ **Hint** section below the ğŸ§­ **Check your work** code cell.

In [73]:
# YOUR CODE BEGINS
query_avg_price = '''
SELECT AVG(price)
FROM listings
'''
# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_avg_price, con=conn)
display(df_result)
conn.close()

   AVG(price)
0  536.212015

#### ğŸ§­ Check your work

In [74]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-05'
_points = 4

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
    b'ClNFTEVDVCBBVkcocHJpY2UpCkZST00gbGlzdGluZ3MK'
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
tc.assertEqual(df_result.iloc[0, 0], df_check.iloc[0, 0], f'Average price should be {df_check.iloc[0, 0]}')
conn.close()

#### ğŸš€ Hint

The query below calculates the average of `my_column` in `my_table`.

```sql
SELECT AVG(my_column)
FROM my_table;
```

---

### ğŸ¯ Part 6: Long-term stays

#### ğŸ‘‡ Tasks

- âœ”ï¸ Using the `listings` table, find all listings with minimum nights of 30 or more (`minimum_nights >= 30`).
- âœ”ï¸ Select only the following 7 columns (in the same order):
    - `name`, `room_type`, `bedrooms`, `bathrooms`, `minimum_nights`, `price`, `review_score`
- âœ”ï¸ Store your query to a new variable named `query_long_term_stays`.
- âœ”ï¸ Sort the result by `price` in ascending order.

#### ğŸ”‘ Output Format

Your query result will likely have different number of rows and cell values.

|   | name                                      | room_type    | bedrooms | bathrooms | minimum_nights | price | review_score |
|---|-------------------------------------------|--------------|----------|-----------|----------------|-------|--------------|
| 0 | Peace within the city for solo travelers  | Private room | 1.0      | 1.0       | 35             | 25.0  | 95.0         |
| 1 | Room close to Downtown Champaign          | Private room | 1.0      | 1.0       | 30             | 33.0  | 95.0         |
| 2 | Perfect spot to work on your next startup | Private room | 1.0      | 1.0       | 30             | 65.0  | 98.0         |

#### ğŸ”¥ Need help?

Refer to the ğŸš€ **Hint** section below the ğŸ§­ **Check your work** code cell.

In [75]:
# YOUR CODE BEGINS
query_long_term_stays ='''
SELECT name, room_type, bedrooms, bathrooms, minimum_nights, price, review_score
FROM listings
WHERE minimum_nights >= 30
ORDER BY price


'''
# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_long_term_stays, con=conn)
display(df_result)
conn.close()

,name,room_type,bedrooms,bathrooms,minimum_nights,price,review_score
0,åœ°é“16å·æ»´æ°´æ¹–é«˜å±‚å¤å¼é˜³å…‰å……æ²›å¤§åºŠæˆ¿å•é—´æœˆç§Ÿ,Private room,1.0,1.0,30,66.0,90.0
1,ã€åŒæµä¹é—´ä¹‹å¾®ç‘•9/9ã€ä¸ŠåŸåéƒ½ä¸€å°˜ä¸æŸ“ç‰¹åƒ¹å®¢å»³å¤§ç©ºé—´é›™äººå¤§åºŠå¸¦é™½å°ç”µè§†æ²™å‘ï½å½—æ˜Ÿæ¥çš„é‚£ä¸€æ™š,Private room,1.0,1.0,30,99.0,94.0
2,ã€æµ…è‰²ç³»æç®€ã€‘ï¼ˆæœˆç§Ÿï¼‰ä¸¤å±…å®¤ä¸­çš„ç‹¬ç«‹æˆ¿é—´ï¼Œå¤å¼ç»“æ„ï¼Œåœ°é“ç›´è¾¾å¾å®¶æ±‡ã€‚,Private room,1.0,1.5,30,107.0,97.0
3,ã€Šä¸€å¶çŸ¥ç§‹è‹‘ã€‹ä¸€æ¹¾ç§‹æœˆåŠé™¢å…‰,Private room,1.0,1.0,30,113.0,100.0
4,ä¹å·åœ°é“é™„è¿‘å¸¦ç‹¬ç«‹é˜³å°éšæœºåˆ†é…å¤§åºŠæˆ¿@è™¹æ¡¥ç«è½¦ç«™æœºåœº,Private room,1.0,1.0,30,118.0,89.0
...,...,...,...,...,...,...,...
279,é™å®‰ç¦é‚¸â€¢æµ®æ é™å®‰ç™¾å¹´é£åå—äº¬è¥¿è·¯åœ°é“å£ç‹¬å¹¢6å®¤3å«éœ²å°åº­é™¢å¤è‘£å®¶ä¿¬æ–‡è‰ºè€æ´‹æˆ¿,Entire home/apt,6.0,3.0,180,3642.0,97.0
280,"Aå•é—´-ç´§æŒ¨å¸‚ä¸­å¿ƒå†…ç¯åœ°é“å£æ­¥è¡Œ2åˆ†é’Ÿ,åœ°æ®µå¥½å»å“ªé‡Œéƒ½æ–¹ä¾¿,å¿«æ·ä¸”é˜³å…‰,å¹²å‡€,æ¸©é¦¨,èˆ’é€‚",Private room,1.0,1.0,80,3999.0,97.0
281,ï¼ˆå…¨é¢æ¶ˆæ¯’ï¼‰ã€Œä¹¦çš„æˆ¿ ã€ 180Â°è½åœ°çª—ä¸œæ–¹æ˜ç æ™¯è§‚å››å±…å®¤|æ­¥è¡ŒåŸéšåº™è±«å›­åœ°é“ç«™æ­¥è¡Œ5åˆ†é’Ÿ,Entire home/apt,4.0,2.0,60,9999.0,100.0
282,ï¼ˆå…¨é¢æ¶ˆæ¯’ï¼‰ã€Œä¹¦çš„æˆ¿ ã€180Â°è½åœ°çª—ä¸œæ–¹æ˜ç æ™¯è§‚å››å±…å®¤|è±«å›­åœ°é“ç«™æ­¥è¡Œ5åˆ†é’Ÿ,Entire home/apt,4.0,2.0,60,9999.0,100.0
283,æ¸©é¦¨å°çªåœ¨è€æ´‹æˆ¿ï¼Œé«˜æ˜Ÿè®¾æ–½è¿é”ä»·æ ¼(åœ°é“3åˆ†é’Ÿï¼‰,Entire home/apt,1.0,1.0,180,61904.0,87.0

#### ğŸ§­ Check your work

In [76]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-06'
_points = 4

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCBuYW1lLCByb29tX3R5cGUsIGJlZHJvb21zLCBiYXRocm9vbXMsIG1pbmltdW1fbmlnaHRz\
LCBwcmljZSwgcmV2aWV3X3Njb3JlCkZST00gbGlzdGluZ3MKV0hFUkUgbWluaW11bV9uaWdodHMgPj0gMzAKT1JERVIgQlkgcHJpY2UK'
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['price'].reset_index(drop=True),
                               df_check['price'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))

conn.close()

#### ğŸš€ Hint

The query below selects 7 columns from `my_table` where `column5` is greater than or equal to 30. The result will be sorted by `column6` in ascending order.

```sql
SELECT column1, column2, column3, column4, column5, column6, column7
FROM my_table
WHERE column5 >= 30
ORDER BY column6;
```

---

### ğŸ¯ Part 7: Large listings

#### ğŸ‘‡ Tasks

- âœ”ï¸ Using the `listings` table, find all rows where the listing has:
    - 6 or more bedrooms
    - **AND** 4 or more bathrooms
- âœ”ï¸ Select only the following 5 columns (in the same order):
    - `name`, `bedrooms`, `bathrooms`, `price`, `review_score`
- âœ”ï¸ Store your query to a new variable named `query_large_listings`.

#### ğŸ”‘ Output Format

Your query result will likely have different number of rows and cell values.


|   |                                   name | bedrooms | bathrooms | price | review_score |
|--:|---------------------------------------:|---------:|----------:|------:|-------------:|
| 0 |     5 min away from Downtown Champaign |      6.0 |       4.0 | 550.4 |         99.0 |
| 1 |   Large Bedroom & Bath close to campus |      6.0 |       5.0 | 483.0 |         98.0 |
| 2 | Big family welcomed, graduation season |      6.0 |       4.5 | 379.9 |         94.0 |
| 3 |                   LARGEST HOME IN TOWN |      8.0 |       7.0 | 600.0 |         93.0 |

#### ğŸ”¥ Need help?

Refer to the ğŸš€ **Hint** section below the ğŸ§­ **Check your work** code cell.

In [77]:
# YOUR CODE BEGINS
query_large_listings = '''
SELECT name, bedrooms, bathrooms, price, review_score FROM listings 
WHERE bedrooms >= 6 AND bathrooms >= 4

'''
# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_large_listings, con=conn)
display(df_result)
conn.close()

,name,bedrooms,bathrooms,price,review_score
0,å…«å®¤ä¸‰å…è½°è¶´èšä¼š Kæ­Œ.X-boxä½“æ„Ÿæ¸¸æˆéº»å°†.ç”µå½±.æ¡Œæ¸¸.ä¹’ä¹“.æ¡Œçƒ.ç«é”….çƒ§çƒ¤.é’¢ç´å…¨é½,8.0,5.0,2488.0,99.0
1,æ¼«ä¹¡å±…ï¼šä½äºæ·€å±±æ¹–é¥®ç”¨æ°´æºä¿æŠ¤åŒºå†…å¯ä»¥çœ‹è¤ç«è™«çš„æ°´ä¹¡æ°‘å®¿,6.0,7.0,2857.0,96.0
2,å´‡æ˜æµ·æ´ªå›­æ°‘å®¿ï¼ˆæ•´æ ‹åˆ«å¢…ï¼‰,6.0,6.0,2278.0,95.0
3,ä¸Šæµ·è™¹æ¡¥ç²¾å“åˆ«å¢…,9.0,9.0,2986.0,92.0
4,ç‹¬æ ‹ä¹å®¤ä¸¤å…èŠ±å›­åˆ«å¢…/å›¢å»ºã€çƒ§çƒ¤ã€å¨±ä¹/è¿ªå£«å°¼/å…è´¹æ—©é¤/æ¯æ—¥æ¶ˆæ¯’/è®¾è®¡å¸ˆç²¾å“æ°‘å®¿/å¯åšé¥­,9.0,9.5,4963.0,100.0
...,...,...,...,...,...
107,ç‹¬æ ‹ å…¨å±‹åœ°æš–ã€æ³³æ± ï½œéº»å°†ï½œBBQçƒ§çƒ¤ï½œKTVï½œæ¡Œæ¸¸ï½œå¤§æŠ•å½±ã€‘å›¢å»ºèšä¼šæ‹æ‘„ç”Ÿæ—¥æ±‚å©šï½œæ¯—é‚»è¿ªå£«å°¼,6.0,6.0,1751.0,100.0
108,è¿ªå£«å°¼ä¹å›­æ¥é€\ä¹³èƒ¶åºŠå«æ•å¤´\å“ç‰Œå«æµ´\ç‹¬æ ‹åˆ«å¢…å›¢å»ºã€èšä¼šã€çƒ§çƒ¤\å¯ä½10ä¸€2Oäºº\ç¯å¢ƒä¼˜é›…èˆ’é€‚,8.0,7.0,1784.0,100.0
109,POP-ç²‰è‰²å¤å¤å¼èŠ±å›­ç‹¬æ ‹è½°è¶´åˆ«å¢…/KTVæ³³æ± çƒ§çƒ¤éº»å°†æ¡Œæ¸¸/æä¾›å¨å¸ˆé¤å®´æœåŠ¡/æ¥å•†æ‹,8.0,9.0,3842.0,99.0
110,ä»¥ç²‰ä¸ºä¸»è‰²è°ƒï¼Œè®¾è®¡å¸ˆç²¾å¿ƒæ‰“é€ çš„å¤å¤é£èŠ±å›­ç‹¬æ ‹åˆ«å¢…ï¼Œé…KTVã€æ³³æ± ã€çƒ§çƒ¤ã€é¤å®´ã€éº»å°†ï¼Œæ¥è½°è¶´å›¢å»ºå•†æ‹,8.0,8.5,5190.0,100.0
111,èŠ±ç­‘æ°‘å®¿ä¸Šæµ·æ——èˆ°åº—/ç‹¬æ ‹ç§å®¶åˆ«å¢…/KTV/é…’å§/å’–å•¡å§/ç¯ç«/çƒ¤å…¨ç¾Š/ç§æˆ¿èœ/çƒ§çƒ¤/ç«é”…/å¸¦å¨æˆ¿,9.0,9.0,2975.0,100.0

#### ğŸ§­ Check your work

In [78]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-07'
_points = 4

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCBuYW1lLCBiZWRyb29tcywgYmF0aHJvb21zLCBwcmljZSwgcmV2aWV3X3Njb3JlCkZST00gb\
GlzdGluZ3MKV0hFUkUgKGJlZHJvb21zID49IDYpIEFORCAoYmF0aHJvb21zID49IDQpCg=='
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

#### ğŸš€ Hint

The query below selects 5 columns from `my_table` where `column2` is greater than or equal to 6 and `column3` is greater than or equal to 4.

```sql
SELECT column1, column2, column3, column4, column5
FROM my_table
WHERE (column2 >= 6) AND (column3 >= 4);
```

---

### ğŸ¯ Part 8: Average price of large listings

#### ğŸ‘‡ Tasks

- âœ”ï¸ Using the `listings` table, find the average price of listings with:
    - 6 or more bedrooms
    - **AND** 4 or more bathrooms
- âœ”ï¸ Store your query to a new variable named `query_large_listings_avg_price`.
- âœ”ï¸ The result of your query should have only one column and one row.
    - The name of the column does not matter.
    
#### ğŸ”‘ Output Format

Your query result may have a different column name.

|   | AVG(price) |
|--:|-----------:|
| 0 |      475.5 |


#### ğŸ”¥ Need help?

Refer to the ğŸš€ **Hint** section below the ğŸ§­ **Check your work** code cell.

In [79]:
# YOUR CODE BEGINS
query_large_listings_avg_price ='''
SELECT AVG(price) FROM listings WHERE bedrooms >= 6 and bathrooms >=4

'''
# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_large_listings_avg_price, con=conn)
display(df_result)
conn.close()

    AVG(price)
0  3092.919643

#### ğŸ§­ Check your work

In [80]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-08'
_points = 5

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
    b'ClNFTEVDVCBBVkcocHJpY2UpCkZST00gbGlzdGluZ3MKV0hFUkUgKGJlZHJvb21zID49IDYpIEFORCAoYmF0aHJvb21zID49IDQpCg=='
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
tc.assertEqual(df_result.iloc[0, 0], df_check.iloc[0, 0], f'Average price should be {df_check.iloc[0, 0]}')
conn.close()

#### ğŸš€ Hint

The query below calculates the average of `column4` where `column2` is greater or equal to 6 and `column3` is greater or equal to 4.

```sql
SELECT AVG(column4)
FROM my_table
WHERE (column2 >= 6) AND (column3 >= 4);
```

---

### ğŸ¯ Part 9: Number of listings by neighbourhood

#### ğŸ‘‡ Tasks

- âœ”ï¸ Using the `listings` table, find the number of listings by `neighbourhood`.
- âœ”ï¸ Store your query to a new variable named `query_num_listings_by_neighbourhood`.
- âœ”ï¸ The result of your query should have the following two columns:
    - `neighbourhood`
    - `num_listings`
- âœ”ï¸ Sort the result by `num_listings` in descending order.

#### ğŸ”‘ Output Format

Your query result will likely have different number of rows and cell values.

|   | neighbourhood | num_listings |
|--:|--------------:|-------------:|
| 0 |     Champaign |           60 |
| 1 |        Urbana |           50 |
| 2 |         Savoy |           30 |
| 3 |        Fisher |           20 |

#### ğŸ”¥ No hint

Refer to the ğŸš€ **Hint** section below the ğŸ§­ **Check your work** code cell.

In [81]:
# YOUR CODE BEGINS
query_num_listings_by_neighbourhood ='''
SELECT neighbourhood, COUNT(neighbourhood) as num_listings FROM listings
GROUP BY neighbourhood
ORDER BY num_listings DESC

'''
# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_num_listings_by_neighbourhood, con=conn)
display(df_result)
conn.close()

               neighbourhood  num_listings
0              æµ¦ä¸œæ–°åŒº / Pudong          2863
1     é»„æµ¦åŒº / Huangpu District          1361
2       å¾æ±‡åŒº / Xuhui District           773
3     é™å®‰åŒº / Jing'an District           645
4   é•¿å®åŒº / Changning District           294
5     è™¹å£åŒº / Hongkou District           256
6     é—µè¡ŒåŒº / Minhang District           223
7   æ¾æ±ŸåŒº / Songjiang District           222
8      æ¨æµ¦åŒº / Yangpu District           170
9      é’æµ¦åŒº / Qingpu District           150
10      æ™®é™€åŒº / Putuo District           130
11  å´‡æ˜åŒº / Chongming District           114
12    å˜‰å®šåŒº / Jiading District           111
13    å®å±±åŒº / Baoshan District            82
14   å¥‰è´¤åŒº / Fengxian District            19
15    é‡‘å±±åŒº / Jinshan District            11

#### ğŸ§­ Check your work

In [82]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-09'
_points = 5

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCBuZWlnaGJvdXJob29kLCBDT1VOVCgqKSBhcyBudW1fbGlzdGluZ3MKRlJPTSBsaXN0aW\
5ncwpHUk9VUCBCWSBuZWlnaGJvdXJob29kCk9SREVSIEJZIG51bV9saXN0aW5ncyBERVNDOwo='
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['num_listings'].reset_index(drop=True),
                               df_check['num_listings'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

#### ğŸš€ Hint

Assuming that the `listings` table has a `city` column, the query below counts the number of listings for each `city`. It sorts the result by `num_listings` in descending order.

```sql
SELECT city, COUNT(*) AS num_listings
FROM listings
GROUP BY city
ORDER BY num_listings DESC;
```

---

### ğŸ¯ Part 10: Number of superhost/non-superhost listings

#### ğŸ‘‡ Tasks

- âœ”ï¸ Using the `listings` table, find the number of listings of superhost/non-superhost.
- âœ”ï¸ Store your query to a new variable named `query_num_listings_by_host_status`.
- âœ”ï¸ The result of your query should have the following two columns:
    - `is_superhost`: `0` or `1`
    - `num_listings`
- âœ”ï¸ Sort the result by `is_superhost` in ascending order.

#### ğŸ”‘ Output Format

Your query result will likely have different cell values.


|   | is_superhost | num_listings |
|--:|-------------:|-------------:|
| 0 |            0 |          500 |
| 1 |            1 |          400 |

#### ğŸ’£ No hint

Try this one on your own!

In [83]:
# YOUR CODE BEGINS
query_num_listings_by_host_status = '''
SELECT is_superhost,COUNT(*) as num_listings FROM listings GROUP BY is_superhost ORDER BY is_superhost 
'''


# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_num_listings_by_host_status, con=conn)
display(df_result)
conn.close()

   is_superhost  num_listings
0             0          3008
1             1          4416

#### ğŸ§­ Check your work

In [84]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-10'
_points = 4

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
    b'ClNFTEVDVCBpc19zdXBlcmhvc3QsIENPVU5UKCopIGFzIG51bV9saXN0aW5ncwpGUk9NIGxpc3RpbmdzCkdST1VQIEJZIGlzX3N1cGVyaG9zdApPUkRFUiBCWSBpc19zdXBlcmhvc3Q7Cg=='
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['is_superhost'].reset_index(drop=True),
                               df_check['is_superhost'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

## ğŸ’µ Metrics of interest

In this part, you will analyze the key metrics of rental properties such as occupancy rate (`availability_365`), rental rates (`price`), and guest feedback (`review_score`).

---

### ğŸ¯ Part 11: Metrics by room types

#### ğŸ‘‡ Tasks

- âœ”ï¸ Using the `listings` table, find the **averages** of following three columns by `room_type`:
    - `price`
    - `availability_365`
    - `review_score`
- âœ”ï¸ Store your query to a new variable named `query_metrics_by_room_type`.
- âœ”ï¸ The result of your query should have the following 4 columns (in the same order):
    - `room_type`
    - `avg_price`
    - `avg_availability`
    - `avg_review_score`
- âœ”ï¸ Sort the result by `avg_availability` in ascending order.

#### ğŸ”‘ Output Format

Your query result will likely have different cell values and may have different number of rows.

|   |       room_type |  avg_price | avg_availability | avg_review_score |
|--:|----------------:|-----------:|-----------------:|-----------------:|
| 0 |     Shared room |  40.100000 |       162.821215 |        95.491510 |
| 1 |    Private room |  60.236737 |       189.997992 |        95.500100 |
| 2 | Entire home/apt | 104.599667 |       225.127593 |        92.105033 |
| 3 |      Hotel room |  66.666667 |       310.444444 |        88.666667 |


#### ğŸ”¥ Need help?

Refer to the ğŸš€ **Hint** section below the ğŸ§­ **Check your work** code cell.

In [85]:
# YOUR CODE BEGINS
query_metrics_by_room_type = '''
SELECT room_type, AVG(price) as avg_price, AVG(availability_365) as avg_availability, AVG(review_score) as avg_review_score FROM listings
GROUP BY room_type ORDER BY avg_availability
'''






# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_metrics_by_room_type, con=conn)
display(df_result)
conn.close()

         room_type   avg_price  avg_availability  avg_review_score
0  Entire home/apt  640.233933        203.951585         95.945801
1     Private room  374.698688        211.971065         97.718750
2      Shared room  128.091463        223.475610         95.737805

#### ğŸ§­ Check your work

In [86]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-11'
_points = 5

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
    b'ClNFTEVDVCAKICAgIHJvb21fdHlwZSwKICAgIEFWRyhwcmljZSkgQVMgYXZnX3ByaWNlLCAKICAgIEFWRyhhdmFpbGFiaWxpdHlfMzY1KSBBUyBhdmdfYXZhaWxhYmlsaXR5LCAKICAgIEFWRyhyZXZpZXdfc2NvcmUpIEFTIGF2Z19yZXZpZXdfc2NvcmUKRlJPTSBsaXN0aW5ncwpHUk9VUCBCWSByb29tX3R5cGUKT1JERVIgQlkgYXZnX2F2YWlsYWJpbGl0eTsK'
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['avg_availability'].reset_index(drop=True),
                               df_check['avg_availability'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

#### ğŸš€ Hint

Below is a **fully-functional** solution query. You do not have to change anything.

```sql
SELECT 
    room_type, 
    AVG(price) AS avg_price, 
    AVG(availability_365) AS avg_availability, 
    AVG(review_score) AS avg_review_score
FROM listings
GROUP BY room_type
ORDER BY avg_availability;
```

---

### ğŸ¯ Part 12: Metrics by number of bedrooms

#### ğŸ‘‡ Tasks

- âœ”ï¸ Using the `listings` table, find the following measures by the number of bedrooms (`bedrooms`):
    - Count of rows (number of listings)
    - Average `price`
    - Average `availability_365`
    - Average `review_score`
- âœ”ï¸ Store your query to a new variable named `query_metrics_by_bedrooms`.
- âœ”ï¸ The result of your query should have the following 5 columns (in the same order):
    - `bedrooms`
    - `num_listings`
    - `avg_price`
    - `avg_availability`
    - `avg_review_score`
- âœ”ï¸ Sort the result by `bedrooms` in ascending order.

#### ğŸ”‘ Output Format

Your query result will likely have different cell values and may have different number of rows.

|   | bedrooms | num_listings |  avg_price | avg_availability | avg_review_score |
|--:|---------:|-------------:|-----------:|-----------------:|-----------------:|
| 0 |      1.0 |          524 |  95.839695 |       218.353053 |        94.398855 |
| 1 |      2.0 |          207 | 143.144928 |       202.579710 |        94.275362 |
| 2 |      3.0 |           98 | 227.326531 |       211.755102 |        96.285714 |
| 3 |      4.0 |           27 | 364.111111 |       205.592593 |        95.481481 |
| 4 |      5.0 |            9 | 491.555556 |       245.333333 |        95.666667 |
| 5 |      6.0 |            4 | 477.250000 |       262.500000 |        96.500000 |


#### ğŸ’£ No hint

Try this one on your own!

In [87]:
# YOUR CODE BEGINS

query_metrics_by_bedrooms = '''
SELECT bedrooms, COUNT(*) as num_listings, AVG(price) as avg_price, AVG(availability_365) as avg_availability, AVG(review_score) as avg_review_score FROM listings
GROUP BY bedrooms ORDER BY bedrooms
'''

# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_metrics_by_bedrooms, con=conn)
display(df_result)
conn.close()

    bedrooms  num_listings     avg_price  avg_availability  avg_review_score
0        1.0          5433    397.923799        207.687465         96.614394
1        2.0          1228    549.054560        201.119707         96.145765
2        3.0           424    986.596698        213.398585         96.544811
3        4.0           159   1495.509434        194.213836         96.767296
4        5.0            59   1963.305085        216.745763         96.474576
5        6.0            32   2259.187500        233.468750         97.906250
6        7.0            28   3119.392857        218.785714         97.964286
7        8.0            24   2829.041667        231.583333         98.291667
8        9.0            17   3412.823529        250.705882         99.000000
9       10.0            10   3574.300000        237.000000         98.100000
10      11.0             4   5529.500000        364.000000         98.000000
11      12.0             2   5569.500000        132.000000         99.000000
12      13.0             1   5998.000000        178.000000        100.000000
13      16.0             1  11745.000000        220.000000         99.000000
14      22.0             1    198.000000        365.000000         95.000000
15      50.0             1    248.000000        365.000000         94.000000

#### ğŸ§­ Check your work

In [88]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-12'
_points = 6

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCAKICAgIGJlZHJvb21zLAogICAgQ09VTlQoKikgQVMgbnVtX2xpc3RpbmdzLAogICAgQVZHKHByaWN\
lKSBBUyBhdmdfcHJpY2UsIAogICAgQVZHKGF2YWlsYWJpbGl0eV8zNjUpIEFTIGF2Z19hdmFpbGFiaWxpdHksIAog\
ICAgQVZHKHJldmlld19zY29yZSkgQVMgYXZnX3Jldmlld19zY29yZQpGUk9NIGxpc3RpbmdzCkdST1VQIEJZIGJlZHJvb21zCk9SREVSIEJZIGJlZHJvb21zOwo='
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['avg_availability'].reset_index(drop=True),
                               df_check['avg_availability'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

### ğŸ¯ Part 13: Metrics by neighbourhood

#### ğŸ‘‡ Tasks

- âœ”ï¸ Using the `listings` table, find the following measures by the neighbourhood (`neighbourhood`):
    - Count of rows (number of listings)
    - Average `price`
    - Average `availability_365`
    - Average `review_score`
- âœ”ï¸ Store your query to a new variable named `query_metrics_by_neighbourhood`.
- âœ”ï¸ The result of your query should have the following 5 columns (in the same order):
    - `neighbourhood`
    - `num_listings`
    - `avg_price`
    - `avg_availability`
    - `avg_review_score`
- âœ”ï¸ Sort the result by `num_listings` in descending order.

#### ğŸ”‘ Output Format

Your query result will likely have different number of rows and cell values.

|   | neighbourhood | num_listings |  avg_price | avg_availability | avg_review_score |
|--:|--------------:|-------------:|-----------:|-----------------:|-----------------:|
| 0 |     Champaign |          107 | 120.299065 |       238.392523 |        93.504673 |
| 1 |        Urbana |           75 |  88.938776 |       197.938776 |        95.306122 |
| 2 |       Mahomet |           41 |  95.347826 |       237.304348 |        93.000000 |
| 3 |       Rantoul |           26 | 287.000000 |       195.166667 |        97.166667 |

#### ğŸ’£ No hint

Try this one on your own!

In [89]:
# YOUR CODE BEGINS
query_metrics_by_neighbourhood = '''
SELECT neighbourhood, COUNT(*) as num_listings, AVG(price) as avg_price, AVG(availability_365) as avg_availability, AVG(review_score) as avg_review_score FROM listings
GROUP BY neighbourhood ORDER BY num_listings DESC
'''



# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_metrics_by_neighbourhood, con=conn)
display(df_result)
conn.close()

,neighbourhood,num_listings,avg_price,avg_availability,avg_review_score
0,æµ¦ä¸œæ–°åŒº / Pudong,2863,470.851904,214.616486,97.564094
1,é»„æµ¦åŒº / Huangpu District,1361,677.257899,194.774431,95.070536
2,å¾æ±‡åŒº / Xuhui District,773,543.774903,194.311772,95.943079
3,é™å®‰åŒº / Jing'an District,645,497.606202,214.325581,95.973643
4,é•¿å®åŒº / Changning District,294,588.578231,180.438776,96.129252
5,è™¹å£åŒº / Hongkou District,256,453.078125,156.113281,95.355469
6,é—µè¡ŒåŒº / Minhang District,223,488.847534,211.295964,96.582960
7,æ¾æ±ŸåŒº / Songjiang District,222,438.860360,234.135135,96.815315
8,æ¨æµ¦åŒº / Yangpu District,170,308.558824,199.405882,96.429412
9,é’æµ¦åŒº / Qingpu District,150,689.800000,214.440000,96.693333
10,æ™®é™€åŒº / Putuo District,130,512.192308,236.961538,96.992308
11,å´‡æ˜åŒº / Chongming District,114,1583.535088,202.692982,97.973684
12,å˜‰å®šåŒº / Jiading District,111,259.873874,260.963964,97.414414
13,å®å±±åŒº / Baoshan District,82,289.256098,262.390244,97.548780
14,å¥‰è´¤åŒº / Fengxian District,19,575.684211,265.684211,95.315789
15,é‡‘å±±åŒº / Jinshan District,11,703.727273,229.818182,97.909091

#### ğŸ§­ Check your work

In [90]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-13'
_points = 6

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCAKICAgIG5laWdoYm91cmhvb2QsCiAgICBDT1VOVCgqKSBBUyBudW1fbGlzdGluZ3MsCiAg\
ICBBVkcocHJpY2UpIEFTIGF2Z19wcmljZSwgCiAgICBBVkcoYXZhaWxhYmlsaXR5XzM2NSkgQVMgYXZnX2\
F2YWlsYWJpbGl0eSwgCiAgICBBVkcocmV2aWV3X3Njb3JlKSBBUyBhdmdfcmV2aWV3X3Njb3JlCkZST00g\
bGlzdGluZ3MKR1JPVVAgQlkgbmVpZ2hib3VyaG9vZApPUkRFUiBCWSBudW1fbGlzdGluZ3MgREVTQzsK'
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['num_listings'].reset_index(drop=True),
                               df_check['num_listings'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

### ğŸ¯ Part 14: Metrics by neighbourhood, expanded

#### ğŸ‘‡ Tasks
- âœ”ï¸ This time, you will include more details on the listing size (average number of bedrooms, bathrooms, accommodations).
- âœ”ï¸ Using the `listings` table, find the following measures by the neighbourhood (`neighbourhood`):
    - Count of rows (number of listings)
    - Average number of `bedrooms`
    - Average number of `bathrooms`
    - Average number of maximum guests (average of `accommodates`)
    - Average `price`
    - Average `availability_365`
    - Average `review_score`
- âœ”ï¸ Store your query to a new variable named `query_details_by_neighbourhood`.
- âœ”ï¸ The result of your query should have the following 8 columns (in the same order):
    - `neighbourhood`
    - `num_listings`
    - `avg_bedrooms`,
    - `avg_bathrooms`,
    - `avg_accommodates`,
    - `avg_price`
    - `avg_availability`
    - `avg_review_score`
- âœ”ï¸ Sort the result by `num_listings` in descending order.

#### ğŸ”‘ Output Format

Your query result will likely have different number of rows and cell values.

|   | neighbourhood | num_listings | avg_bedrooms | avg_bathrooms | avg_accommodates |  avg_price | avg_availability | avg_review_score |
|--:|--------------:|-------------:|-------------:|--------------:|-----------------:|-----------:|-----------------:|-----------------:|
| 0 |     Champaign |          107 |     1.736842 |      1.552632 |         4.771930 | 108.192982 |       186.982456 |        95.631579 |
| 1 |        Urbana |           75 |     1.500000 |      1.166667 |         3.666667 | 117.666667 |       212.666667 |        98.333333 |
| 2 |       Mahomet |           41 |     1.333333 |      1.500000 |         2.333333 |  49.000000 |        31.666667 |        98.333333 |
| 3 |       Rantoul |           26 |     1.000000 |      1.000000 |         2.000000 |  29.000000 |       322.500000 |        96.000000 |

#### ğŸ”¥ Need help?

The query will build upon the previous part and will be highly similar.

In [91]:
# YOUR CODE BEGINS
query_details_by_neighbourhood = '''
SELECT neighbourhood, COUNT(*) as num_listings, AVG(bedrooms) as avg_bedrooms, AVG(bathrooms) as avg_bathrooms, AVG(accommodates) as avg_accommodates,
avg(price) as avg_price, avg(availability_365) as avg_availability, avg(review_score) as avg_review_score FROM listings
GROUP BY neighbourhood ORDER BY num_listings DESC










'''
# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_details_by_neighbourhood, con=conn)
display(df_result)
conn.close()

,neighbourhood,num_listings,avg_bedrooms,avg_bathrooms,avg_accommodates,avg_price,avg_availability,avg_review_score
0,æµ¦ä¸œæ–°åŒº / Pudong,2863,1.538247,1.396961,3.578414,470.851904,214.616486,97.564094
1,é»„æµ¦åŒº / Huangpu District,1361,1.465099,1.202425,3.538575,677.257899,194.774431,95.070536
2,å¾æ±‡åŒº / Xuhui District,773,1.285899,1.137128,2.843467,543.774903,194.311772,95.943079
3,é™å®‰åŒº / Jing'an District,645,1.241860,1.154264,2.910078,497.606202,214.325581,95.973643
4,é•¿å®åŒº / Changning District,294,1.272109,1.144558,2.636054,588.578231,180.438776,96.129252
5,è™¹å£åŒº / Hongkou District,256,1.304688,1.175781,3.367188,453.078125,156.113281,95.355469
6,é—µè¡ŒåŒº / Minhang District,223,1.461883,1.318386,2.950673,488.847534,211.295964,96.582960
7,æ¾æ±ŸåŒº / Songjiang District,222,1.851351,1.488739,3.292793,438.860360,234.135135,96.815315
8,æ¨æµ¦åŒº / Yangpu District,170,1.323529,1.182353,3.011765,308.558824,199.405882,96.429412
9,é’æµ¦åŒº / Qingpu District,150,2.040000,1.873333,4.626667,689.800000,214.440000,96.693333
10,æ™®é™€åŒº / Putuo District,130,1.253846,1.361538,2.707692,512.192308,236.961538,96.992308
11,å´‡æ˜åŒº / Chongming District,114,3.947368,3.635965,8.903509,1583.535088,202.692982,97.973684
12,å˜‰å®šåŒº / Jiading District,111,1.342342,1.162162,2.774775,259.873874,260.963964,97.414414
13,å®å±±åŒº / Baoshan District,82,1.280488,1.207317,2.743902,289.256098,262.390244,97.548780
14,å¥‰è´¤åŒº / Fengxian District,19,2.052632,1.631579,4.736842,575.684211,265.684211,95.315789
15,é‡‘å±±åŒº / Jinshan District,11,1.727273,1.636364,3.727273,703.727273,229.818182,97.909091

#### ğŸ§­ Check your work

In [92]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-14'
_points = 6

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCAKICAgIG5laWdoYm91cmhvb2QsCiAgICBDT1VOVCgqKSBBUyBudW1fbGlzdGluZ3MsCiAgICBBVkcoYmVkcm9vbXMpI\
GFzIGF2Z19iZWRyb29tcywKICAgIEFWRyhiYXRocm9vbXMpIGFzIGF2Z19iYXRocm9vbXMsCiAgICBBVkcoYWNjb21tb2RhdGVzKSBh\
cyBhdmdfYWNjb21tb2RhdGVzLAogICAgQVZHKHByaWNlKSBBUyBhdmdfcHJpY2UsIAogICAgQVZHKGF2YWlsYWJpbGl0eV8zNjUpIEF\
TIGF2Z19hdmFpbGFiaWxpdHksIAogICAgQVZHKHJldmlld19zY29yZSkgQVMgYXZnX3Jldmlld19zY29yZQpGUk9NIGxpc3RpbmdzCk\
dST1VQIEJZIG5laWdoYm91cmhvb2QKT1JERVIgQlkgbnVtX2xpc3RpbmdzIERFU0M7Cg=='
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['num_listings'].reset_index(drop=True),
                               df_check['num_listings'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

### ğŸ¯ Part 15: Metrics by host status, expanded

#### ğŸ‘‡ Tasks
- âœ”ï¸ This time, you will repeat the previous analysis using `is_superhost` instead of `neighbourhood`.
- âœ”ï¸ Using the `listings` table, find the following measures by the host status (`is_superhost`):
    - Count of rows (number of listings)
    - Average number of `bedrooms`
    - Average number of `bathrooms`
    - Average number of maximum guests (average of `accommodates`)
    - Average `price`
    - Average `availability_365`
    - Average `review_score`
- âœ”ï¸ Store your query to a new variable named `query_details_by_host_status`.
- âœ”ï¸ The result of your query should have the following 8 columns (in the same order):
    - `is_superhost`
    - `num_listings`
    - `avg_bedrooms`,
    - `avg_bathrooms`,
    - `avg_accommodates`,
    - `avg_price`
    - `avg_availability`
    - `avg_review_score`
- âœ”ï¸ Sort the result by `is_superhost` in ascending order.

#### ğŸ”‘ Output Format

Your query result will likely have different number of rows and cell values.

|   | is_superhost | num_listings | avg_bedrooms | avg_bathrooms | avg_accommodates |  avg_price | avg_availability | avg_review_score |
|--:|-------------:|-------------:|-------------:|--------------:|-----------------:|-----------:|-----------------:|-----------------:|
| 0 |            0 |          400 |     1.465113 |      1.630648 |         4.132415 | 132.887151 |       220.066667 |        93.015012 |
| 1 |            1 |          500 |     1.357654 |      1.554667 |         5.142551 | 144.887511 |       193.269997 |        97.425115 |

In [93]:
# YOUR CODE BEGINS
query_details_by_host_status = '''
SELECT is_superhost, COUNT(*) as num_listings, AVG(bedrooms) as avg_bedrooms, AVG(bathrooms) as avg_bathrooms, AVG(accommodates) as avg_accommodates,
avg(price) as avg_price, avg(availability_365) as avg_availability, avg(review_score) as avg_review_score FROM listings
GROUP BY is_superhost ORDER BY is_superhost
'''


# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_details_by_host_status, con=conn)
display(df_result)
conn.close()

,is_superhost,num_listings,avg_bedrooms,avg_bathrooms,avg_accommodates,avg_price,avg_availability,avg_review_score
0,0,3008,1.478723,1.261469,3.430186,609.829455,213.746011,94.435173
1,1,4416,1.504982,1.376245,3.415082,486.066803,202.712183,98.007699

#### ğŸ§­ Check your work

In [94]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-15'
_points = 6

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCAKICAgIGlzX3N1cGVyaG9zdCwKICAgIENPVU5UKCopIEFTIG51bV9saXN0aW5ncywKICAgIEFWRyhiZWRyb29tcy\
kgYXMgYXZnX2JlZHJvb21zLAogICAgQVZHKGJhdGhyb29tcykgYXMgYXZnX2JhdGhyb29tcywKICAgIEFWRyhhY2NvbW1vZGF0ZX\
MpIGFzIGF2Z19hY2NvbW1vZGF0ZXMsCiAgICBBVkcocHJpY2UpIEFTIGF2Z19wcmljZSwgCiAgICBBVkcoYXZhaWxhYmlsaXR5Xz\
M2NSkgQVMgYXZnX2F2YWlsYWJpbGl0eSwgCiAgICBBVkcocmV2aWV3X3Njb3JlKSBBUyBhdmdfcmV2aWV3X3Njb3JlCkZST00gbG\
lzdGluZ3MKR1JPVVAgQlkgaXNfc3VwZXJob3N0Ck9SREVSIEJZIGlzX3N1cGVyaG9zdDsK'
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['is_superhost'].reset_index(drop=True),
                               df_check['is_superhost'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

## ğŸ³ More queries!

In this part, you will try out queries that calculate metrics of interest by more than one criteria. In Pandas terms, this would be grouping by more than one column.

**The fully-working query for each part will be given to you.** Your task is to *try* to understand what each query does. ğŸ¬

![SQL Query Meme](https://github.com/bdi475/images/blob/main/case-studies/airbnb-sql/my-sql-query-meme-01.jpg?raw=true)

---

### ğŸ¯ Part 16: Metrics by neighbourhood + room type

#### ğŸ‘‡ Tasks
- âœ”ï¸ Store your query to a new variable named `query_neighbourhood_room_type`.

![query](https://github.com/bdi475/images/blob/main/case-studies/airbnb-sql/query-neighbourhood-room-type-popularity-01.png?raw=true)

In [95]:
# YOUR CODE BEGINS

query_neighbourhood_room_type ='''
SELECT
  neighbourhood,
  room_type,
  COUNT(*) as num_listings,
  AVG(bedrooms) as avg_bedrooms,
  AVG(bathrooms) as avg_bathrooms,
  AVG(accommodates) as avg_accommodates,
  AVG(price) as avg_price,
  AVG(availability_365) as avg_availability,
  AVG(review_score) as avg_review_score
FROM listings
GROUP BY neighbourhood, room_type
Having num_listings>20
ORDER BY avg_availability
LIMIT 10



'''


# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_neighbourhood_room_type, con=conn)
display(df_result)
conn.close()

,neighbourhood,room_type,num_listings,avg_bedrooms,avg_bathrooms,avg_accommodates,avg_price,avg_availability,avg_review_score
0,è™¹å£åŒº / Hongkou District,Entire home/apt,218,1.353211,1.199541,3.568807,495.784404,151.490826,95.344037
1,é•¿å®åŒº / Changning District,Entire home/apt,205,1.375610,1.131707,3.048780,497.526829,179.931707,95.756098
2,å¾æ±‡åŒº / Xuhui District,Private room,141,1.014184,1.099291,1.843972,698.553191,183.269504,96.496454
3,é•¿å®åŒº / Changning District,Private room,80,1.037500,1.187500,1.750000,862.800000,185.087500,97.262500
4,è™¹å£åŒº / Hongkou District,Private room,31,1.032258,1.048387,2.000000,232.032258,185.741935,95.225806
5,æ¨æµ¦åŒº / Yangpu District,Private room,61,1.000000,1.180328,1.754098,183.950820,187.508197,97.016393
6,é»„æµ¦åŒº / Huangpu District,Entire home/apt,1199,1.518766,1.203503,3.729775,724.194329,191.794829,94.950792
7,é»„æµ¦åŒº / Huangpu District,Private room,114,1.096491,1.166667,2.271930,399.473684,193.271930,95.833333
8,å¾æ±‡åŒº / Xuhui District,Entire home/apt,616,1.355519,1.146104,3.108766,519.508117,196.165584,95.813312
9,å´‡æ˜åŒº / Chongming District,Entire home/apt,100,4.240000,3.825000,9.490000,1718.570000,203.710000,97.970000

#### ğŸ§­ Check your work

In [96]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-16'
_points = 3

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCAKICAgIG5laWdoYm91cmhvb2QsCiAgICByb29tX3R5cGUsCiAgICBDT1VOVCgqKSBBUyBudW1fbGlzdGluZ3MsCiAg\
ICBBVkcoYmVkcm9vbXMpIGFzIGF2Z19iZWRyb29tcywKICAgIEFWRyhiYXRocm9vbXMpIGFzIGF2Z19iYXRocm9vbXMsCiAgICBBVk\
coYWNjb21tb2RhdGVzKSBhcyBhdmdfYWNjb21tb2RhdGVzLAogICAgQVZHKHByaWNlKSBBUyBhdmdfcHJpY2UsIAogICAgQVZHKGF2\
YWlsYWJpbGl0eV8zNjUpIEFTIGF2Z19hdmFpbGFiaWxpdHksIAogICAgQVZHKHJldmlld19zY29yZSkgQVMgYXZnX3Jldmlld19zY2\
9yZQpGUk9NIGxpc3RpbmdzCkdST1VQIEJZIG5laWdoYm91cmhvb2QsIHJvb21fdHlwZQpIQVZJTkcgbnVtX2xpc3RpbmdzID4gMjAK\
T1JERVIgQlkgYXZnX2F2YWlsYWJpbGl0eQpMSU1JVCAxMDsK'
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['avg_availability'].reset_index(drop=True),
                               df_check['avg_availability'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

### ğŸ¯ Part 17: Rounded metrics by neighbourhood + room type

#### ğŸ‘‡ Tasks
- âœ”ï¸ Store your query to a new variable named `query_neighbourhood_room_type_rounded`.
- âœ”ï¸ The query below performs identical tasks to the previous deliverable, but rounds up the numbers to 1 decimal place.

![query](https://github.com/bdi475/images/blob/main/case-studies/airbnb-sql/query-neighbourhood-room-type-popularity-rounded-01.png?raw=true)

In [97]:
# YOUR CODE BEGINS



query_neighbourhood_room_type_rounded ='''
SELECT
  neighbourhood,
  room_type,
  COUNT(*) as num_listings,
  round(AVG(bedrooms),1) as avg_bedrooms,
  round(AVG(bathrooms),1) as avg_bathrooms,
  round(AVG(accommodates),1) as avg_accommodates,
  round(AVG(price),1) as avg_price,
  round(AVG(availability_365),1) as avg_availability,
  round(AVG(review_score),1) as avg_review_score
FROM listings
GROUP BY neighbourhood, room_type
Having num_listings>20
ORDER BY avg_availability
LIMIT 10



'''
# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_neighbourhood_room_type_rounded, con=conn)
display(df_result)
conn.close()

,neighbourhood,room_type,num_listings,avg_bedrooms,avg_bathrooms,avg_accommodates,avg_price,avg_availability,avg_review_score
0,è™¹å£åŒº / Hongkou District,Entire home/apt,218,1.4,1.2,3.6,495.8,151.5,95.3
1,é•¿å®åŒº / Changning District,Entire home/apt,205,1.4,1.1,3.0,497.5,179.9,95.8
2,å¾æ±‡åŒº / Xuhui District,Private room,141,1.0,1.1,1.8,698.6,183.3,96.5
3,é•¿å®åŒº / Changning District,Private room,80,1.0,1.2,1.8,862.8,185.1,97.3
4,è™¹å£åŒº / Hongkou District,Private room,31,1.0,1.0,2.0,232.0,185.7,95.2
5,æ¨æµ¦åŒº / Yangpu District,Private room,61,1.0,1.2,1.8,184.0,187.5,97.0
6,é»„æµ¦åŒº / Huangpu District,Entire home/apt,1199,1.5,1.2,3.7,724.2,191.8,95.0
7,é»„æµ¦åŒº / Huangpu District,Private room,114,1.1,1.2,2.3,399.5,193.3,95.8
8,å¾æ±‡åŒº / Xuhui District,Entire home/apt,616,1.4,1.1,3.1,519.5,196.2,95.8
9,å´‡æ˜åŒº / Chongming District,Entire home/apt,100,4.2,3.8,9.5,1718.6,203.7,98.0

#### ğŸ§­ Check your work

In [98]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-17'
_points = 3

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCAKICAgIG5laWdoYm91cmhvb2QsCiAgICByb29tX3R5cGUsCiAgICBDT1VOVCgqKSBBUyBudW1fbGlzdGluZ3\
MsCiAgICBST1VORChBVkcoYmVkcm9vbXMpLCAxKSBhcyBhdmdfYmVkcm9vbXMsCiAgICBST1VORChBVkcoYmF0aHJvb21zKS\
wgMSkgYXMgYXZnX2JhdGhyb29tcywKICAgIFJPVU5EKEFWRyhhY2NvbW1vZGF0ZXMpLCAxKSBhcyBhdmdfYWNjb21tb2RhdG\
VzLAogICAgUk9VTkQoQVZHKHByaWNlKSwgMSkgQVMgYXZnX3ByaWNlLCAKICAgIFJPVU5EKEFWRyhhdmFpbGFiaWxpdHlfMz\
Y1KSwgMSkgQVMgYXZnX2F2YWlsYWJpbGl0eSwgCiAgICBST1VORChBVkcocmV2aWV3X3Njb3JlKSwgMSkgQVMgYXZnX3Jldm\
lld19zY29yZQpGUk9NIGxpc3RpbmdzCkdST1VQIEJZIG5laWdoYm91cmhvb2QsIHJvb21fdHlwZQpIQVZJTkcgbnVtX2xpc3\
RpbmdzID4gMjAKT1JERVIgQlkgYXZnX2F2YWlsYWJpbGl0eQpMSU1JVCAxMDsK'
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['avg_availability'].reset_index(drop=True),
                               df_check['avg_availability'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

### ğŸ¯ Part 18: Listings that were never booked

#### ğŸ‘‡ Tasks
- âœ”ï¸ Store your query to a new variable named `query_never_booked_listings`.

![query](https://github.com/bdi475/images/blob/main/case-studies/airbnb-sql/query-never-booked-listings-01.png?raw=true)

In [99]:
# YOUR CODE BEGINS
query_never_booked_listings='''
SELECT name, neighbourhood, room_type, bedrooms, bathrooms,accommodates, price, availability_365
FROM listings WHERE availability_365 =365 ORDER BY name

'''
# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_never_booked_listings, con=conn)
display(df_result)
conn.close()

,name,neighbourhood,room_type,bedrooms,bathrooms,accommodates,price,availability_365
0,"""French Concession"" artistic apt in the downtown",å¾æ±‡åŒº / Xuhui District,Entire home/apt,1.0,1.0,2,620.0,365
1,"""Japanese warm light"" wind love street line 1/...",å¾æ±‡åŒº / Xuhui District,Entire home/apt,1.0,1.0,2,406.0,365
2,"#1 Girls' room,3 mins to subway",é»„æµ¦åŒº / Huangpu District,Shared room,1.0,2.0,1,168.0,365
3,#Essence18#å¸‚ä¸­å¿ƒé…’åº—å¼å…¬å¯“ä¸€æˆ¿ Downtonw Apartment 1 BR,é»„æµ¦åŒº / Huangpu District,Entire home/apt,1.0,1.0,2,364.0,365
4,#æµ¦ä¸œæ–°åŒºæ›¹è·¯åœ°é“ç«™#æ•´å¥—å¤å¼å…¬å¯“/ç«‹ä¿¡é‡‘èå­¦é™¢æµ¦ä¸œæ ¡åŒº/ç¬¬äºŒå·¥ä¸šå¤§å­¦/å¤æ—¦é™„å±å°å­¦,æµ¦ä¸œæ–°åŒº / Pudong,Entire home/apt,1.0,1.0,4,340.0,365
...,...,...,...,...,...,...,...,...
1224,ï¼»é‚‚é€… ä¸ƒæœˆ] å…è´¹æ¥é€è¿ªå£«å°¼ ä»…éœ€å…­åˆ†é’Ÿè½¦ç¨‹ å·¨å¹•æŠ•å½± å¯éšæ—¶å¯„å­˜è¡Œæ,æµ¦ä¸œæ–°åŒº / Pudong,Private room,1.0,1.0,2,287.0,365
1225,ï½›åœ†åˆåœ†ã€‘@é™å®‰å¯º@é™å®‰å˜‰é‡Œä¸­å¿ƒ@åŒ—äº¬è¥¿è·¯å¸‚ä¸­å¿ƒæ…ˆå­é‚¨å°åŒºæ˜Œå¹³è·¯åœ°é“ç«™æ­¥è¡Œ7åˆ†é’Ÿ,é™å®‰åŒº / Jing'an District,Entire home/apt,1.0,1.0,2,497.0,365
1226,ï½›é™è°§ï½è‚‡å˜‰æµœä¸œå®‰è·¯åœ°é“å£é™„è¿‘/æ–œåœŸè·¯å®œå®¶åŒå—ä¸¤æˆ¿,å¾æ±‡åŒº / Xuhui District,Entire home/apt,2.0,1.0,5,422.0,365
1227,ï½œè—å¥¢ï½œ ä¸–åšå›­ï½œæ¢…èµ›å¾·æ–¯å¥”é©°é¦†ï½œä¸–åšå±•è§ˆé¦†ï½œè¿‘äººå¹¿ï½œæ±Ÿæ™¯æµ´ç¼¸å·¨å±æŠ•å½±,æµ¦ä¸œæ–°åŒº / Pudong,Entire home/apt,2.0,1.0,4,607.0,365
1228,ğŸ…è¿ªå£«å°¼åº¦å‡åŒº/å…è´¹æ¥é€è¿ªå£«å°¼/è¿‘é‡ç”ŸåŠ¨ç‰©å›­/å…è´¹æ¥é€è¿ªå£«å°¼/æµ¦ä¸œæœºåœº/åœ°é“ç«™/åœè½¦ä½â€¢èŠ±ç­‘,æµ¦ä¸œæ–°åŒº / Pudong,Private room,1.0,1.5,2,197.0,365

#### ğŸ§­ Check your work

In [100]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-18'
_points = 3

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCBuYW1lLCBuZWlnaGJvdXJob29kLCByb29tX3R5cGUsIGJlZHJvb21zLCBiYXRocm9vbXMsI\
GFjY29tbW9kYXRlcywgcHJpY2UsIGF2YWlsYWJpbGl0eV8zNjUKRlJPTSBsaXN0aW5ncwpXSEVSRSBhdmFp\
bGFiaWxpdHlfMzY1ID0gMzY1Ck9SREVSIEJZIG5hbWU7Cg=='
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['name'].reset_index(drop=True),
                               df_check['name'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

### ğŸ¯ Part 19: Top 15 highest-rated listings

#### ğŸ‘‡ Tasks
- âœ”ï¸ Store your query to a new variable named `query_highest_rated_listings`.

![query](https://github.com/bdi475/images/blob/main/case-studies/airbnb-sql/query-highest-rated-listings-01.png?raw=true)

In [101]:
# YOUR CODE BEGINS
query_highest_rated_listings ='''

SELECT name, neighbourhood, room_type, bedrooms, bathrooms,accommodates, price, review_score, number_of_reviews
FROM listings
ORDER BY review_score DESC, number_of_reviews DESC
LIMIT 15
'''
# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_highest_rated_listings, con=conn)
display(df_result)
conn.close()

,name,neighbourhood,room_type,bedrooms,bathrooms,accommodates,price,review_score,number_of_reviews
0,ã€SIXIANGä¸Šæµ· Â· å¤–æ»©ã€‘è¶…å¤§ç©ºé—´ï¼Œç›´è§’é£˜çª—å¤§æˆ¿ï¼Œå®æ ¼ä¸½åŒæ¬¾æ™¯è§‚ï¼Œè¶…ç¾çš„ä¸œæ–¹æ˜ç å’Œé»„æµ¦æ±Ÿå¤œæ™¯,é»„æµ¦åŒº / Huangpu District,Private room,1.0,1.0,2,708.0,100.0,252
1,ã€å§å§å®¶çš„æ°‘å®¿ã€‘<æ•´æ ‹ç‹¬äº«>ï¼æ•´æ ‹ï¼æ•´æ ‹ï¼æµ´ç¼¸â•å·¨å¹•æŠ•å½±ï¼æ¦»æ¦»ç±³å§å®¤ï¼è¿ªå£«å°¼è¶…è¿‘10åˆ†é’Ÿå…è´¹æ¥é€ï¼,æµ¦ä¸œæ–°åŒº / Pudong,Entire home/apt,1.0,2.0,4,283.0,100.0,225
2,å…¨æœ¨ç²¾è£…ï¼Œç”Ÿæ´»äº¤é€šä¾¿æ·ï¼Œå±•ç¤ºåŸåˆ›è‰ºæœ¯å“åŠæ‰‹ä½œï¼Œè¿‘åœ°é“ä¸€å·å…«å·çº¿åŠä¸Šæµ·ç«è½¦ç«™å¸‚ä¸­å¿ƒé¢ç§¯è¾¾85å¹³...,é™å®‰åŒº / Jing'an District,Entire home/apt,1.0,1.0,2,698.0,100.0,210
3,æ³•ï½ç§Ÿç•Œé¢†äº‹é¦†&å¤å…´è¥¿è·¯/æ·®æµ·ä¸­è·¯/é™å®‰å¯º/å—äº¬ä¸œè·¯å¤–æ»©/ä¸–åšæ¢…å¥”/ç”°å­åŠ/åå±±åŒ»é™¢@å®½æ•èˆ’...,å¾æ±‡åŒº / Xuhui District,Entire home/apt,1.0,1.5,2,283.0,100.0,187
4,ï¼ˆè°¢ç»æƒ…ä¾£ï¼‰äº”åˆ†é’Ÿç›´è¾¾è¿ªå£«å°¼ é¢„å®šå‰è¯·å…ˆå’¨è¯¢ æˆ‘ä»¬weæ°‘å®¿,æµ¦ä¸œæ–°åŒº / Pudong,Entire home/apt,1.0,1.0,4,239.0,100.0,163
5,ã€Œæ‹¾æ –ã€è¿ªå£«å°¼ å…«åˆ†é’Ÿæ¥é©³/è¶…å¤§åŒé˜³å°è½åœ°å…¨èº«é•œ+å·¨å¹•æŠ•å½±/æ¸©æ³‰é¦†/åœ°é“ç›´è¾¾å¤–æ»©,æµ¦ä¸œæ–°åŒº / Pudong,Entire home/apt,2.0,1.0,4,404.0,100.0,152
6,ã€é•¿ç§ŸÂ·å¯çœ‹æˆ¿ã€‘è¿ªå£«å°¼Â·ç‹¬æ ‹åˆ«å¢…Â·INSåŸæœ¨å®¿èˆé£Â·åº·æ¡¥åŠå²›é«˜ç«¯å¯ŒäººåŒºÂ·ç‹¬ç«‹å®¢æˆ¿(é—¨é”/å«æµ´...,æµ¦ä¸œæ–°åŒº / Pudong,Entire home/apt,1.0,1.0,2,284.0,100.0,151
7,Mhouseè®¾è®¡å¸ˆã€é…’ç²¾ç´«å¤–çº¿æ¶ˆæ¯’ã€‘ã€åˆ«å¢…ç‹¬å«å¸¦é˜³å°å¥—æˆ¿ã€‘13åˆ†é’Ÿè¿ªå£«å°¼/18åˆ†é’Ÿæœºåœº/å…è´¹æ”»ç•¥,æµ¦ä¸œæ–°åŒº / Pudong,Private room,1.0,1.0,3,828.0,100.0,149
8,(ä½çŒ«å±‹ï¼‰è¢«ç»¿æ ‘ç¯ç»•çš„å¤å¤â€œæœ¨å±‹â€ é™å®‰åŒºèŠ±å›­æ´‹æˆ¿ï¼Œæœ‰ä¸¤åªå¸ƒå¶å°çŒ«ï¼Œæ¬¢è¿çŒ«å¥´,é™å®‰åŒº / Jing'an District,Entire home/apt,1.0,1.0,3,502.0,100.0,149
9,ã€è¶…äº”æ˜Ÿæ°‘å®¿ã€‘â€œDVç¿¡å†·ç¿ 1#Â·è™«é¸£æ¸”æ‘â€é•¿æ±Ÿè¾¹/è¿‘ç½‘çº¢ä¸å/ç‹¬å¹¢2æˆ¿2å…æ··æ­æ³•å¼è€æ´‹æˆ¿èˆ¬çš„å†…é¥°,å´‡æ˜åŒº / Chongming District,Entire home/apt,2.0,1.0,5,866.0,100.0,147
10,ï¼ˆé•¿ç§Ÿä¼˜æƒ ï¼‰ã€Œä¹¦çš„æˆ¿ ã€äººæ°‘å¹¿åœºåœ°é“ç«™æ­¥è¡Œ209ç±³ï½œ123å¹³ä¸¤å±…ä¸¤å«,é»„æµ¦åŒº / Huangpu District,Entire home/apt,2.0,2.0,4,1187.0,100.0,147
11,Childhood in downtown SH-5mins to subway2/7,é™å®‰åŒº / Jing'an District,Entire home/apt,1.0,1.0,5,1242.0,100.0,145
12,[river view] Oliviaâ€™s Shanghai Bund View Apart...,è™¹å£åŒº / Hongkou District,Entire home/apt,3.0,2.0,8,1350.0,100.0,143
13,Cozy Room in a Quirky Townhouse,é™å®‰åŒº / Jing'an District,Private room,1.0,1.0,2,464.0,100.0,134
14,å—äº¬è¥¿è·¯ è€ä¸Šæµ·é£æƒ… é—¹ä¸­å–é™æ¸©é¦¨ä¸€å®¤æˆ·å¤§å¼€é—´ ä¸´è¿‘åœ°é“2ã€12ã€13å·çº¿ å‡ºé—¨å°±æ˜¯å´æ±Ÿè·¯ã€å¤ªå¤æ±‡,é™å®‰åŒº / Jing'an District,Private room,1.0,1.0,2,297.0,100.0,133

#### ğŸ§­ Check your work

In [102]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-19'
_points = 3

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVAogICAgbmFtZSwgbmVpZ2hib3VyaG9vZCwgcm9vbV90eXBlLCBiZWRyb29tcywgYmF0aHJvb21zLCAKICAgIGFjY\
29tbW9kYXRlcywgcHJpY2UsIHJldmlld19zY29yZSwgbnVtYmVyX29mX3Jldmlld3MKRlJPTSBsaXN0aW5ncwpPUkRFUiBCWSBy\
ZXZpZXdfc2NvcmUgREVTQywgbnVtYmVyX29mX3Jldmlld3MgZEVTQwpMSU1JVCAxNTsK'
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['review_score'].reset_index(drop=True),
                               df_check['review_score'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

### ğŸ¯ Part 20: Search by keyword

#### ğŸ‘‡ Tasks
- âœ”ï¸ Store your query to a new variable named `query_bright_listings`.

![query](https://github.com/bdi475/images/blob/main/case-studies/airbnb-sql/query-search-by-keyword-01.png?raw=true)

In [103]:
# YOUR CODE BEGINS
query_bright_listings ='''
SELECT name, price, review_score, number_of_reviews
FROM listings
WHERE LOWER(name) LIKE '%bright%'
ORDER BY review_score DESC, number_of_reviews DESC
LIMIT 10
'''

# YOUR CODE ENDS
conn = sqlite3.connect('airbnb.db')
df_result = pd.read_sql_query(query_bright_listings, con=conn)
display(df_result)
conn.close()

,name,price,review_score,number_of_reviews
0,"Bright modern apt. in Xinhua Rd., Line. 10/11/3/4",468.0,100.0,19
1,"Bright, Comfortable Room in Pudong. Close to M...",172.0,99.0,36
2,æ­¦åº·è·¯æ·®æµ·è·¯ä¸Šçš„åŒ—æ¬§é£æƒ…è€å¼å…¬å¯“ Bright Scandinavian style in FFC,387.0,99.0,34
3,Bright Guest Room@Central SH (subway line2/12/13),156.0,99.0,18
4,"Modern, Bright, Cozy apartment close to Subway.",688.0,98.0,53
5,"Modern, Bright, Cozy apartment close to Subway.",588.0,98.0,26
6,"Cozy&Bright downtownl Apt, cityview, Bund, L10/12",301.0,97.0,234
7,Sofa in the roomy bright living room,91.0,97.0,136
8,Bright Cozy Room Close to the north bund &Subway,168.0,97.0,70
9,Bright studio new-fab lane house SFC-Line2/12/13,432.0,96.0,49

#### ğŸ§­ Check your work

In [104]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = 'part-20'
_points = 3

conn = sqlite3.connect('airbnb.db')
decoded_query = base64.b64decode(
b'ClNFTEVDVCBuYW1lLCBwcmljZSwgcmV2aWV3X3Njb3JlLCBudW1iZXJfb2ZfcmV2aWV3cwpGUk9NIG\
xpc3RpbmdzCldIRVJFIExPV0VSKG5hbWUpIExJS0UgJyVicmlnaHQlJwpPUkRFUiBCWSByZXZpZXdfc2\
NvcmUgREVTQywgbnVtYmVyX29mX3Jldmlld3MgREVTQwpMSU1JVCAxMDsK'
).decode()
df_check = pd.read_sql_query(decoded_query, con=conn)
tc.assertEqual(df_result.columns.tolist(), df_check.columns.tolist(), 'Incorrect set of columns or order')
tc.assertEqual(df_result.shape, df_check.shape, 'Number of rows and/or columns is different')
pd.testing.assert_series_equal(df_result['review_score'].reset_index(drop=True),
                               df_check['review_score'].reset_index(drop=True))
pd.testing.assert_frame_equal(df_result.sort_values(df_result.columns.tolist()).reset_index(drop=True),
                              df_check.sort_values(df_check.columns.tolist()).reset_index(drop=True))
conn.close()

---

## ğŸ¸ Submitting your notebook

There is one final step before exporting the notebook as an `.ipynb` file for submission. Restart your runtime (kernal) and run all cells from the beginning to ensure that your notebook does not contain any error.

- Go to the **"Runtime"** ("Kernel" if you're on Jupyter Lab) menu on top.
- Select **"Restart and run all"**.
- Make sure no code cell throws an error.
- Failing to pass this step may result in a significant loss of points since the autograder will fail to run.<br /><br />

![image.png]()

In [105]:
print('ğŸ¯ Restart and run all successful')

ğŸ¯ Restart and run all successful